.swiper-container {
    // width: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1280px;
    overflow-x: hidden;
    position: relative;
    margin: auto;
}

.swiper-slide {
    background-position: center;
    background-size: contain;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;

    h4 {
        margin: 0;
        text-align: center;
        padding-top: 1rem;

        &, a {
            font-family: 'Montserrat', sans-serif;
            color: #000000;
            font-weight: 700;
            font-size: 1.5rem;
        }
    }
}

@media screen and (max-width: 1200px) {
    .swiper-slide {   
        h4 {
            &, a {
                font-size: 1rem;
            }
        }
    }
}

// .swiper-slide:nth-child(1) {
//     background-image: url(https://picsum.photos/300/300/?image=1083)
// }

// .swiper-slide:nth-child(2) {
//     background-image: url(https://picsum.photos/300/300/?image=1050)
// }

// .swiper-slide:nth-child(3) {
//     background-image: url(https://picsum.photos/300/300/?image=1039)
// }

// .swiper-slide:nth-child(4) {
//     background-image: url(https://picsum.photos/300/300/?image=1019)
// }

// .swiper-slide:nth-child(5) {
//     background-image: url(https://picsum.photos/300/300/?image=1015)
// }

// .swiper-slide:nth-child(6) {
//     background-image: url(https://picsum.photos/300/300/?image=999)
// }

// .swiper-slide:nth-child(7) {
//     background-image: url(https://picsum.photos/300/300/?image=976)
// }

// .swiper-slide:nth-child(8) {
//     background-image: url(https://picsum.photos/300/300/?image=944)
// }

// .swiper-slide:nth-child(9) {
//     background-image: url(https://picsum.photos/300/300/?image=884)
// }

// .swiper-slide:nth-child(10) {
//     background-image: url(https://picsum.photos/300/300/?image=883)
// }